

#art-main
{
   background: #939262 url('images/page.jpeg') top center no-repeat fixed;
   margin:0 auto;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
   background-size: cover;
  position: relative;
}
body, html{
    height:100%;
    padding:0;
    margin:0;
} 
/*
.mod-overf {
    overflow: auto;

}
*/
.hd {
    display: none;
}
/* Easy Tooltip */

#easyTooltip{
    margin:0 10px 1em 0;
    width:250px;
    padding:8px;
    /*  background:#fcfcfc; */
    border:1px solid #a5ad7a;
    line-height:130%;
    background: #E7E5A6;

}

#easyTooltip h3{
    margin:0 0 .5em 0;
    font:13px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color: #990033;
}

#easyTooltip p{
    margin:0 0 .5em 0;
    color: #000;
}

#easyTooltip img{
    background:#fff;
    padding:1px;
    border:1px solid #e1e1e1;
    float:left;
    margin-right:10px;
}


#statusmsg{display:none;}
#timerdata{display:none;}
#item2{display:none;}
#item3{display:none;}
#item4{display:none;}
#item5{display:none;}
#item6{display:none;}
#item7{display:none;}
#item8{display:none;}
#item9{display:none;}

/*

#statusmsg h3 {
    margin:0 0 .5em 0;
    font:13px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color: #990033;
}

#statusmsg > p {
    margin:0 0 .5em 0;
    color: #000;
}


/* // Easy Tooltip */

}

a:visited {
    color: #fff;
    text-decoration: underline;
}
